    * {
        margin: 0;
        padding: 0;
    }

    .inline {
        display: inline;
    }

    .red-color {
        background-color: red;
    }

    .green-color {
        background-color: green;
    }

    .blue-color {
        background-color: blue;
    }

    .custom-font {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: 600;
        font-style: normal;
        line-height: 1.2em;
        letter-spacing: 2px;
        word-spacing: 2px;
        margin-top: 20px;
    }

    .center-container {
        width: 100%;
        height: 50px;
        border: 1px solid black;
        margin-top: 20px;
        border-radius: 20px;
        text-align: center;
        padding-top: 25px;
    }

    .middle {
        text-align: center;
        border: 2px dotted blue;
        margin-top: 20px;
        padding: 1%;
    }

    .middle > img {
        vertical-align: middle;
    }

    .custom-ol {
        font-style: italic;
        font-style: 20px;
        list-style-type: lower-latin;
        color: rgb(20, 144, 230);
    }

    .relative {
        position: relative;
        width: 50%;
        height: 20vh;
        border: 1px dashed #ff22ee;
        margin-top: 20px;
        margin-left: 25%;
        border-radius: 20px;
    }

    .absolute {
        position: absolute;
        top: 25%;
        left: calc(50% - 5px);
        width: 100px;
        height: 80px;
        background-color: coral;
        border-left: 3px solid black;
        box-shadow: black 5px 5px 20px 1px;
        text-align: center;
    }

    .image-bg {
        background-image: url('https://i.ytimg.com/vi/lkQ0LDx9jHs/maxresdefault.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 30vh;
        color: white;
        font-size: 30px;
    }

    #form {
        border: 1px solid white;
        border-radius: 20px;
        width: 25%;
        padding: 1%;
        box-shadow: grey 10px 10px 30px 1px;
        background: linear-gradient(#e66465, #9198e5);    
    }

    .form-block {
        margin: 10px 0;
    }

    .form-block > label {
        font: normal small-caps 600 16px Arial, Helvetica, sans-serif;
        margin-right: 10px;
    }

    .form-block > input {
        float: right;
        width: 200px;
    }

    .form-block > textarea {
        float: right;
        width: 200px;
        height: 50px;
    }

    .submit-button {
        background: #2F6690;
        border: 1px solid #2F6690;
        border-radius: 10px;
        color: white;
        padding: 2%;
        margin-top: 15px;
    }

    .submit-button:hover {
        cursor: pointer;
        background: blue;
    }

    /* ================================================= */
    /*                                                   */
    /*  Task 03                                          */
    /*                                                   */
    /* ================================================= */

    body {
        background-color: #e2edc1;
        font: normal 100 16px Arial, Helvetica, sans-serif;
    }

    header {
        margin-top: 10px;
        margin-left: 230px;
    }
 
    .aside, .content {
        padding: 10px;
        border: 1px solid black;
    }
 
    .aside {
        float: left;
        width: 200px;
        background: aqua; 
        height:80vh;    
    }

    .ul {
        list-style-type: none;
    }

    .ul li:hover {
        background-color: #ffeae0;
    }

   .content {
        /*margin-left: 220px;*/
        background: orange;
        height: 80vh;
    }

    footer {
        background: #e2edc1;
        margin-top: 20px; 
    }