    * {
        margin: 0;
        padding: 0;
    }


    /* Task 2.37 - как-то так
    * {
        color: black;
        background-color: olive;
    }
    */

    *[id="test"] h2 ~ p {
        color: black;
        background-color: olive;
    }

