* {
    margin: 0;
    padding: 0;
    height: 3em;
}

  #container {    
    margin: 0 auto;
    width: 100%;
    font: normal 100 36px Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
  }

  div[class*="sidebar"] {
    padding-top: 1em;
  }
  
  .left-sidebar {
    background: red;
    float: left;
    width: 33.3%;    
    color: goldenrod;
  }
  
  .right-sidebar {
    background: orange;
    float: right;
    width: 33.3%;
    color: brown;
  }
  
  .content-sidebar {
    background: yellow;
    margin: 0 33.3%;
    width: 33.4%;
    color: goldenrod;
  }
  