* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;  
  align-items: left;
  outline: 1px solid red;
  width: 50%;
  color: white;
  background-color: #54bbff;
}

h3 {
  padding: 20px 10px 15px 10px;
}

.row_1 {
  margin: 10px;
}
.row_1 > input {  
  width: 95%;
}

.row_2 {
  display: flex;
  margin: 10px;
  padding-right: 10px;
  flex-direction: row;
}

.column {
  flex: 1 1 10px;
  margin: 10;
}

.column > input {
  width: 95%;
}

button {
  padding: 7px 10px 5px 10px;
  margin: 10px;
  background-color: yellow;
  color: black;
  font-size: large;
  border: 1px solid black;
}