*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

#form_page {
  width: 500px;
  background-color: #0390cf;
  border: 2px solid #0075b2;
  margin: 10px 0 0 10px;
}

h3 {
  font-weight: 600;
  padding: 10px 15px 0 15px;
}

form {
  display: flex;
  flex-flow: row wrap;  
  justify-content: space-between;
  padding: 15px;
}

.row {
  margin: 5px 0;
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
}

.half_element {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.column_half_element {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column; 
}

button {
  height: 30px;
  margin-top: 15px;
  background-color: yellow;
  color: black;
  font-size: large;
  border: 1px solid black;
}

@media (max-width: 950px) {
  #form_page {
    width: calc(950px / 2);
  }
  
  .half_element {    
    flex-flow: column nowrap;
  }

  .column_half_element {
    margin-bottom: 15px;
  }
  
  button {
    margin: 0px 10px 10px 0px;
  }
  
}